<div style= "background-color = " class="container -sm, col-11 col-sm-5"><h1>hello Stupid Coach at your service</h1>
  <h3>you said!!!: <%=@user_input%></h3>
  <div><img style = "border-radius: 5px;" src="https://cdn.theatlantic.com/media/mt/culture_test/rutgers%20mike%20ryan%20yell%20rt%20650%20ap.jpg"
    alt="coach picture">
  </div>
    <h3><%=@answer%></h3>
 </div>
