<div class = "container -sm, col-11 col-sm-5"><h1>Stupid Coach</h1>
  <h6>Ask your Coach anything:</h6>
  <img style = "border-radius: 5px; margin: 12px;" src="https://media.tenor.com/xnDaGHW7i9QAAAAC/hm-hmm.gif" alt="think">
  <form action="/answer" data-turbo="false">
    <input type="text" name="user_input" placeholder="what the hell do you want?">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
</div>
